<%
  contact_govuk_path = "/contact/govuk" #defined in a helper in service manual
%>

<div class="pub-c-feedback" data-module="improve-this-page">
  <div class="pub-c-feedback__prompt js-prompt" tabindex="-1">
    <h3 class="pub-c-feedback__prompt-question">Is this page useful?</h3>

    <%= link_to contact_govuk_path, {
          class: 'pub-c-feedback__prompt-link pub-c-feedback__prompt-link--useful js-page-is-useful',
          data: { 'track-category' => 'manualFeedbackForm', 'track-action' => 'ffYesClick' },
        } do %>
      Yes <span class="visually-hidden">this page is useful</span>
    <% end %>

    <%= link_to contact_govuk_path, {
          class: 'pub-c-feedback__prompt-link js-page-is-not-useful',
          data: { 'track-category' => 'manualFeedbackForm', 'track-action' => 'ffNoClick' },
          'aria-controls': 'improveThisPageForm',
          'aria-expanded': false
        } do %>
      No <span class="visually-hidden">this page is not useful</span>
    <% end %>

    <%= link_to contact_govuk_path, {
          class: 'pub-c-feedback__prompt-link pub-c-feedback__prompt-link--wrong js-something-is-wrong',
          data: { 'track-category' => 'manualFeedbackForm', 'track-action' => 'ffWrongClick' },
          'aria-controls': 'improveThisPageForm',
          'aria-expanded': false
        } do %>
      Is there anything wrong with this page?
    <% end %>
  </div>

  <div id="improveThisPageForm" class="pub-c-feedback__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit">
    <a href="#" class="pub-c-feedback__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="true">Close</a>

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="js-errors"></div>
        <form>
          <input type="hidden" name="url" value="<%= request.original_url -%>">
          <input type="hidden" name="user_agent" value="<%= request.user_agent -%>">

          <div class="pub-c-feedback__form-group js-form-group">
            <label class="pub-c-feedback__form-label pub-c-feedback__form-label--bold" for="description-field">
              How should we improve this page?
            </label>
            <textarea id="description-field" class="pub-c-feedback__form-field" name="description" rows="5" aria-required="true"></textarea>
          </div>

          <div class="pub-c-feedback__form-group js-form-group">
            <label class="pub-c-feedback__form-label" for="name-field">
              Name (optional)
              <span class="pub-c-feedback__form-hint">Include your name and email address if you'd like us to get back to you.</span>
            </label>
            <input id="name-field" class="pub-c-feedback__form-field" type="text" name="name">
          </div>

          <div class="pub-c-feedback__form-group js-form-group">
            <label class="pub-c-feedback__form-label" for="email-field">Email (optional)</label>
            <input id="email-field" class="pub-c-feedback__form-field" type="text" name="email">
          </div>

          <input class="pub-c-feedback__submit" type="submit" value="Send message">
        </form>
      </div>
    </div>
  </div>
</div>
