<%
  active ||= nil
%>

<nav id="proposition-menu" class="no-proposition-name">
  <ul id="proposition-links">
    <li>
      <a class="<%= 'active' if active == 'departments' %>" href="/government/organisations">
        <%= translate("govuk_component.government_navigation.departments", default: "Departments") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'worldwide' %>" href="/government/world">
        <%= translate("govuk_component.government_navigation.worldwide", default: "Worldwide") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'how-government-works' %>" href="/government/how-government-works">
        <%= translate("govuk_component.government_navigation.how-government-works", default: "How government works") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'get-involved' %>" href="/government/get-involved">
        <%= translate("govuk_component.government_navigation.get-involved", default: "Get involved") %>
      </a>
    </li>
    <li class="clear-child">
      <a class="<%= 'active' if active == 'policies' %>" href="/government/policies">
        <%= translate("govuk_component.government_navigation.policies", default: "Policies") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'publications' %>" href="/government/publications">
        <%= translate("govuk_component.government_navigation.publications", default: "Publications") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'consultations' %>" href="/government/publications?publication_filter_option=consultations">
        <%= translate("govuk_component.government_navigation.consultations", default: "Consultations") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'statistics' %>" href="/government/statistics">
        <%= translate("govuk_component.government_navigation.statistics", default: "Statistics") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'announcements' %>" href="/government/announcements">
        <%= translate("govuk_component.government_navigation.announcements", default: "Announcements") %>
      </a>
    </li>
  </ul>
</nav>
