<%
  from ||= []
  from = Array(from)

  part_of ||= []
  part_of = Array(part_of)

  other ||= nil

  direction_class = ""
  direction_class = " direction-#{direction}" if local_assigns.include?(:direction)
%>
<div class="govuk-metadata<%= direction_class %>">
  <dl>
    <% if from.any? %>
      <dt>From:</dt>
      <dd><%= from.to_sentence.html_safe %></dd>
    <% end %>
    <% if local_assigns.include?(:history) %>
      <dt>History:</dt>
      <dd><%= history %></dd>
    <% end %>
    <% if part_of.any? %>
      <dt>Part of:</dt>
      <dd><%= part_of.to_sentence.html_safe %></dd>
    <% end %>
    <% if other.present? %>
      <% other.each do |title, definition| %>
        <% definition = Array(definition) %>
        <dt><%= title %>:</dt>
        <dd><%= definition.to_sentence.html_safe %></dd>
      <% end %>
    <% end %>
  </dl>
</div>
