<%
  organisation ||= {}
  logo_container_class = "logo-container"
  logo_container_class = "#{logo_container_class} logo-link" if organisation[:url]
  logo_container_class = "#{logo_container_class} logo-with-crest crest-#{organisation[:crest]}" if organisation[:crest]
%>
<div class="govuk-organisation-logo <%= organisation[:brand] %>" <%= "data-module=track-click" if organisation[:data_attributes] %>>
  <% if organisation[:url] %>
    <%= link_to organisation[:url],
        class: logo_container_class,
        data: organisation[:data_attributes] do %>
      <%= render file: 'govuk_component/organisation_logo_section.raw', locals: { organisation: organisation } %>
    <% end %>
  <% else %>
    <div class="<%= logo_container_class %>">
      <%= render file: 'govuk_component/organisation_logo_section.raw', locals: { organisation: organisation } %>
    </div>
  <% end %>
</div>
