<%
  sections ||= []
%>
<aside class="govuk-related-items" role="complementary">
  <% sections.each do |section| %>
    <h2
      <% if section[:id] %>id="<%= section[:id] %>"<% end %>
    >
      <%= section[:title] %>
    </h2>
    <nav role="navigation" <% if section[:id] %>aria-labelledby="<%= section[:id] %>"<% end %>>
      <ul>
        <% section[:items].each do |item| %>
          <li>
            <a
              href="<%= item[:url] %>"
              <% if item[:rel] %>rel="<%= item[:rel] %>"<% end %>
            >
              <%= item[:title] %>
            </a>
          </li>
        <% end %>
        <% if section[:url] %>
          <li class="related-items-more">
            <a href="<%= section[:url] %>">
              <%= t("govuk_component.related_items.more", default: "More") %>
              <% if section[:title] %>
                <span class="visuallyhidden">
                  <%= t("govuk_component.related_items.in", default: "in") %>
                  <%= section[:title] %>
                </span>
              <% end %>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
</aside>
