<%
  sections ||= []
%>
<aside class="govuk-related-items">
  <% sections.each do |section| %>
    <h2>
      <%= section[:title] || "Elsewhere on GOV.UK" %>
    </h2>
    <ul>
      <% section[:items].each do |item| %>
        <li><a href="<%= item[:url] %>"><%= item[:title] %></a></li>
      <% end %>
      <% if section[:url] %>
        <li class="related-items-more">
          <a href="<%= section[:url] %>">
            More<% if section[:title] %> <span class="visuallyhidden">in <%= section[:title] %></span><% end %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</aside>
