<%
  class_name = "pub-c-search--on-white"
  class_name = "pub-c-search--on-govuk-blue" if local_assigns.include?(:on_govuk_blue)
  size ||= ""
  class_name = "#{class_name} pub-c-search--large" if size == 'large'
  class_name = "#{class_name} pub-c-search--separate-label" if local_assigns.include?(:inline_label)

  value ||= ""
  id ||= "search-main-" + SecureRandom.hex(4)
  label_text ||= "Search GOV.UK"
  label_text = "#{label_text}".html_safe
%>

<div class="pub-c-search <%= class_name %>" data-module="toggle-input-class-on-focus">
  <label for="<%= id %>" class="pub-c-search__label">
    <%= label_text %>
  </label>
  <div class="pub-c-search__item-wrapper">
    <input type="search" value="<%= value %>" id="<%= id %>" name="q" title="Search" class="pub-c-search__item pub-c-search__input js-class-toggle">
    <div class="pub-c-search__item pub-c-search__submit-wrapper">
      <button type="submit" class="pub-c-search__submit">Search</button>
    </div>
  </div>
</div>
