<%
  groups ||= false
  small ||= false
  heading_level ||= 2
  show_step ||= false
  remember_last_step ||= false

  step_count = 0
%>
<% if groups %>
  <div
    data-module="tasklist"
    class="pub-c-task-list js-hidden <% unless small %>pub-c-task-list--large<% end %>"
    <% if remember_last_step %>data-remember<% end %>
    >
    <ol class="pub-c-task-list__groups">
      <% groups.each_with_index do |group, group_index| %>
        <%
          group_is_active = group.any? do |this_group|
            this_group[:panel_links].to_a.any? { |g| g[:active] }
          end
        %>
        <li class="pub-c-task-list__group <%= 'pub-c-task-list__group--active' if group_is_active %>" <% if group_is_active %>aria-current="step"<% end %>>
          <span class="pub-c-task-list__number">
            <span class="visuallyhidden">Step</span> <%= group_index + 1 %>
          </span>

          <% group.each_with_index do |step, step_index| %>
            <%
              step_count += 1
              id = step[:id] || step[:title].downcase.tr(" ","-")
            %>
            <div
              class="pub-c-task-list__step js-step <% if step[:optional] %>pub-c-task-list__step--optional<% end %>"
              id="<%= id %>"
              data-track-count="tasklistSection"
              <% if step_count == show_step %>data-show<% end %>
              >
              <div class="pub-c-task-list__header js-toggle-panel" data-position="<%= "#{group_index + 1}.#{step_index + 1}" %>">
                <h<%= heading_level %> class="pub-c-task-list__title js-step-title">
                  <%= step[:title] %>
                </h<%= heading_level %>>
              </div>

              <div class="pub-c-task-list__panel js-panel" id="step-panel-<%= id %>-<%= step_index + 1 %>">
                <%
                  in_substep = false
                  link_index = 0
                %>
                <% step[:contents].each do |element| %>
                  <% if element[:type] == 'paragraph' %>
                    <p class="pub-c-task-list__paragraph"><%= element[:text] %></p>

                  <% elsif element[:type] == 'list' %>
                    <ol class="pub-c-task-list__links" data-length="<%= element[:links].length %>">
                      <% element[:links].each do |link| %>
                        <%
                          link_path = link[:path]
                          link_text = ""
                          link_index += 1

                          if link[:active]
                            link_path = "#content"
                            link_text = '<span class="visuallyhidden">You are currently viewing:</span>'.html_safe
                          end
                        %>
                        <li class="pub-c-task-list__link <% if link[:active] %>pub-c-task-list__link--active<% end %>">
                          <a href="<%= link_path %>" class="pub-c-task-list__link-item js-link" data-position="<%= "#{group_index + 1}.#{step_index + 1}.#{link_index}" %>">
                            <%= link_text %> <%= link[:text] %>
                          </a>
                          <% if link[:cost] %>
                            <span class="pub-c-task-list__cost"><%= link[:cost] %></span>
                          <% end %>
                        </li>
                      <% end %>
                    </ol>

                  <% elsif element[:type] == 'substep' %>
                    <% if in_substep %>
                      </div>
                      <% in_substep = false %>
                    <% end %>
                    <div class="pub-c-task-list__substep <% if element[:optional] %>pub-c-task-list__substep--optional<% end %>">
                    <% in_substep = true %>
                  <% end %>
                <% end %>

                <% if in_substep %>
                  </div>
                <% end %>
              </div>

            </div>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
