<%
  steps ||= false
  groups ||= steps #changing the name of this attribute, temporarily accepting both to avoid deployment problems
  small ||= false
  heading_level ||= 2
  open_step ||= false
  remember_last_step ||= false

  step_count = 0
%>
<% if groups %>
  <div
    data-module="tasklist"
    class="pub-c-task-list js-hidden <% unless small %>pub-c-task-list--large<% end %>"
    <% if remember_last_step %>data-remember<% end %>
    >
    <ol class="pub-c-task-list__groups">
      <% groups.each_with_index do |group, group_index| %>
        <%
          group_is_active = group.any? do |this_group|
            this_group[:panel_links].to_a.any? { |g| g[:active] }
          end
        %>
        <li class="pub-c-task-list__group <%= 'pub-c-task-list__group--active' if group_is_active %>" <% if group_is_active %>aria-current="step"<% end %>>
          <span class="pub-c-task-list__number">
            <span class="visuallyhidden">Step</span> <%= group_index + 1 %>
          </span>
          <% group.each_with_index do |step, step_index| %>
            <%
              step_count += 1
              id = step[:id] || step[:title].downcase.tr(" ","-")
            %>
            <div
              class="pub-c-task-list__step js-step"
              id="<%= id %>"
              data-track-count="tasklistSection"
              <% if step_count == open_step %>data-open<% end %>
              >
              <div class="pub-c-task-list__header js-toggle-panel" data-position="<%= "#{group_index + 1}.#{step_index + 1}" %>">
                <h<%= heading_level %> class="pub-c-task-list__title js-step-title">
                  <%= step[:title] %>
                </h<%= heading_level %>>
              </div>

              <div class="pub-c-task-list__panel js-panel" id="step-panel-<%= id %>-<%= step_index + 1 %>">
                <div class="pub-c-task-list__panel-content">
                  <%= step[:panel].html_safe if step[:panel] %>

                  <% step[:panel_descriptions].to_a.each do |panel_description| %>
                    <p class="pub-c-task-list__panel-description">
                      <%= panel_description %>
                    </p>
                  <% end %>
                </div>

                <% if step[:panel_links] %>
                  <ol class="pub-c-task-list__panel-links" data-length="<%= step[:panel_links].length %>">
                    <% step[:panel_links].each_with_index do |panel_link, panel_index| %>
                      <%
                        panel_link_href = panel_link[:href]
                        panel_link_text = ""

                        if panel_link[:active]
                          panel_link_href = "#content"
                          panel_link_text = '<span class="visuallyhidden">You are currently viewing:</span>'.html_safe
                        end
                      %>
                      <li class="pub-c-task-list__panel-link <% if panel_link[:active] %>pub-c-task-list__panel-link--active<% end %>">
                        <a href="<%= panel_link_href %>" class="pub-c-task-list__panel-link-item js-panel-link" data-position="<%= "#{group_index + 1}.#{step_index + 1}.#{panel_index + 1}" %>">
                          <%= panel_link_text %> <%= panel_link[:text] %>
                        </a>
                      </li>
                    <% end %>
                  </ol>
                <% end %>

              </div>
            </div>
          <% end %>

        </li>
      <% end %>

    </ol>
  </div>
<% end %>
