<%
  steps ||= false
  small ||= false
  heading_level ||= 2
  open_section ||= false
  remember_last_section ||= false

  section_count = 0
%>
<% if steps %>
  <div
    data-module="tasklist"
    class="pub-c-task-list js-hidden <% unless small %>pub-c-task-list--large<% end %>"
    <% if remember_last_section %>data-remember<% end %>
    >
    <ol class="pub-c-task-list__list">
      <% steps.each_with_index do |step, steps_index| %>
        <%
          step_is_active = step.any? do |this_step|
            this_step[:panel_links].to_a.any? { |s| s[:active] }
          end
        %>
        <li class="pub-c-task-list__step <%= 'pub-c-task-list__step--active' if step_is_active %>" <% if step_is_active %>aria-current="step"<% end %>>
          <span class="pub-c-task-list__number">
            <span class="visuallyhidden">Step</span> <%= steps_index + 1 %>
          </span>
          <% step.each_with_index do |section, step_index| %>
            <%
              section_count += 1
              id = section[:id] || section[:title].downcase.tr(" ","-")
            %>
            <div
              class="pub-c-task-list__section js-section"
              id="<%= id %>"
              data-track-count="tasklistSection"
              <% if section_count == open_section %>data-open<% end %>
              >
              <div class="pub-c-task-list__header js-toggle-panel">
                <h<%= heading_level %> class="pub-c-task-list__title js-section-title">
                  <%= section[:title] %>
                </h<%= heading_level %>>
              </div>

              <div class="pub-c-task-list__panel js-panel" id="section-panel-<%= id %>-<%= step_index + 1 %>">
                <div class="pub-c-task-list__panel-content">
                  <%= section[:panel].html_safe if section[:panel] %>

                  <% section[:panel_descriptions].to_a.each do |panel_description| %>
                    <p class="pub-c-task-list__panel-description">
                      <%= panel_description %>
                    </p>
                  <% end %>
                </div>

                <% if section[:panel_links] %>
                  <ol class="pub-c-task-list__panel-links" data-length="<%= section[:panel_links].length %>">
                    <% section[:panel_links].each_with_index do |panel_link, panel_index| %>
                      <%
                        panel_link_href = panel_link[:href]
                        panel_link_text = ""

                        if panel_link[:active]
                          panel_link_href = "#content"
                          panel_link_text = '<span class="visuallyhidden">You are currently viewing:</span>'.html_safe
                        end
                      %>
                      <li class="pub-c-task-list__panel-link <% if panel_link[:active] %>pub-c-task-list__panel-link--active<% end %>">
                        <a href="<%= panel_link_href %>" class="pub-c-task-list__panel-link-item js-panel-link" data-position="<%= "#{steps_index + 1}.#{step_index + 1}.#{panel_index + 1}" %>">
                          <%= panel_link_text %> <%= panel_link[:text] %>
                        </a>
                      </li>
                    <% end %>
                  </ol>
                <% end %>

              </div>
            </div>
          <% end %>

        </li>
      <% end %>

    </ol>
  </div>
<% end %>
