<%
  show_global_bar ||= true # Toggles the appearance of the global bar

  title = false
  title_href = false
  link_text = false
  link_href = false

  show_coronavirus_link = true
  coronavirus_title = "Coronavirus (COVID-19)"
  coronavirus_href = "/coronavirus"
  coronavirus_subtext = "Rules, guidance and support"

  show_transition_link = false
  transition_title = "Brexit"
  transition_href = "/transition"
  transition_subtext = "Check what you need to do"

  coronavirus_link_margin_bottom = show_transition_link ? { margin_bottom: 3 } : {}

  # Toggles banner being permanently visible
  # If true, banner is always_visible & does not disappear automatically after 3 pageviews
  # Regardless of value, banner is always manually dismissable by users
  always_visible = true

  show_additional_banner = false

  global_bar_classes = %w(global-bar dont-print)

  title_classes = %w(global-bar-title)
  title_classes << "js-call-to-action" if title_href
  title_classes << "govuk-link" if title_href

  dismiss_classes = %w(global-bar__dismiss global-bar__dismiss--show dismiss)
  dismiss_classes << "govuk-link"
-%>

<% if show_global_bar %>
  <!--[if gt IE 7]><!-->
  <div id="global-bar" class="<%= global_bar_classes.join(' ') %>" data-module="global-bar" <%= "data-global-bar-permanent=true" if always_visible %> data-nosnippet>
    <div class="global-bar-message govuk-width-container">
      <% if title %>
        <% if title_href %>
          <a class="<%= title_classes.join(' ') %>" href="<%= title_href %>"><%= title %></a>
        <% else %>
          <span class="<%= title_classes.join(' ') %>"><%= title %></span>
        <% end %>
      <% end %>

      <% if link_text %>
        <p class="global-bar-text">
        <% if link_href %>
          <%= link_to(
            link_text,
            link_href,
            rel: "external noreferrer",
            class: "govuk-link js-call-to-action"
          ) %>
        <% else %>
          <%= link_text %>
        <% end %>
        </p>
      <% end %>

      <% if show_coronavirus_link || show_transition_link %>
        <div class="global-bar-covid-wrapper">
      <% end %>

      <% if show_coronavirus_link %>
          <%= render "govuk_publishing_components/components/action_link", {
            text: coronavirus_title,
            href: coronavirus_href,
            subtext: coronavirus_subtext,
            classes: "js-call-to-action",
            light_text: true,
            simple_light: true,
          }.merge(coronavirus_link_margin_bottom)
         %>
      <% end %>

      <% if show_transition_link %>
          <%= render "govuk_publishing_components/components/action_link", {
            text: transition_title,
            href: transition_href,
            subtext: transition_subtext,
            classes: "js-call-to-action",
            light_text: true,
            simple_light: true
          } %>
      <% end %>

      <% if show_coronavirus_link || show_transition_link %>
        </div>
      <% end %>
    </div>

    <% if show_additional_banner %>
      <div class="global-bar-additional global-bar-additional--show">
        <div class="govuk-width-container govuk-grid-row">
          <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
            <div class="global-bar-additional__text-govspeak govuk-grid-column-two-thirds govuk-!-padding-0">
              <p class="govuk-!-margin-bottom-1">Coronavirus guidance is being updated.</p>
              <p class="govuk-!-margin-top-0">Read <a href="/government/speeches/prime-ministers-statement-to-the-house-on-covid-19-23-june-2020" class="govuk-link">the Prime Minister’s statement</a> for the latest information.</p>
            </div>
          <% end %>
        </div>

        <div class="govuk-width-container global-bar-dismiss-wrapper">
          <a href="#hide-message"
            class="<%= dismiss_classes.join(' ') %>"
            role="button"
            aria-controls="global-bar">Hide message</a>
        </div>
      </div>
    <% end %>
  </div>
  <!--<![endif]-->
<% end %>
