<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  
  <title>www.gov.uk - 501</title>
  <link href="<%= @asset_host %>/stylesheets/admin/jquery-ui-1.8.14.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/normalize.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/core.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/core-print.css" rel="stylesheet" type="text/css" media="print" />
  <link href="<%= @asset_host %>/stylesheets/header-footer.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/text.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/ancillary-pages.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/accessibility.css" rel="stylesheet" type="text/css" />
  
  <link href="<%= @asset_host %>/stylesheets/search.css" rel="stylesheet" type="text/css" />

  <!-- something clever needs doing here as we probably don't want to load all these stylesheets globally -->
  <link href="<%= @asset_host %>/stylesheets/static-pages/error-pages.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/static-pages/help-pages.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/static-pages/platform-pages.css" rel="stylesheet" type="text/css" />
 
  <!-- alternatives -->
  <link href="<%= @asset_host %>/stylesheets/dyslexic.css" rel="alternate stylesheet" type="text/css" title="I find words difficult" />

  <script src="<%= @asset_host %>/javascripts/libs/jquery/jquery-1.6.2.min.js"></script><!-- no defer on jquery -->
  <script src="<%= @asset_host %>/javascripts/libs/jquery/jquery-ui-1.8.16.custom.min.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/libs/jquery/plugins/jquery.base64.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/libs/jquery/plugins/jquery.mustache.js" defer="defer"></script>

  <script src="<%= @asset_host %>/javascripts/search.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/core.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/devolution.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/popup.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/geo-locator.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/customisation-settings.js" defer="defer"></script>

	<!--[if lt IE 9]>
		<script src="<%= @asset_host %>/javascripts/html5.js"></script>
		<script src="<%= @asset_host %>/javascripts/IE9.js"></script>
	<![endif]-->

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <script id="ga-params" type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26179049-1']);
  _gaq.push(['_setDomainName', 'auto']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  </script>

  <script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script> 
</head>
<body>

  <a href="#content" class="visuallyhidden">Skip to main content</a>

  <header role="banner" class="group" id="global-header">
		<div class="header-global group">
	    <h1><a href="/homepage" title="return to the gov.uk homepage">gov.uk</a></h1>
			<nav role="navigation">
				<ul>
					<li><a href="/settings" class="customisation-settings">Settings</a></li>
					<li><a href="/help">Help</a></li>
   				<li id="gs-feedback"><a href="http://getsatisfaction.com/govuk">Feedback</a></li>
				</ul>
			</nav>
      <div class="search-help">
				<form id="search" class="site-search" action="<%= @prefix %>/search" method="get" role="search">
			    <fieldset><legend class="visuallyhidden">Site search for www.gov.uk</legend>
   				<label for="site-search-text">
 						<span>Search</span>
 					</label>
					<input type="search" name="q" id="site-search-text" title="Search" placeholder="type your search here" />
  				<input type="submit" value="Search" /></fieldset>
				</form>
			</div>
		</div>
  </header><!--end header-->

	<nav role="navigation" class="header-context group">
		<ol>
			<li><a href="/homepage">Home</a></li>
		</ol>
	</nav>

  <div id="wrapper" class="group">

    <div class="content" role="main">
			<section class="group" role="main">
			  <div id="homepage-search" class="location-not-set">
  				<header>
  				  <h1>We seem to be having a problem</h1>
  				</header>
  				<p>We&rsquo;re sorry but something seems to be not right with our site.</p></p>

          <p>We will automatically get a note telling us that there is a problem and we will set about fixing it straight away.</p>
		    </div>

		    </section>
      </div>
    </div><!--end wrapper-->

  	<footer class="group" id="footer" role="contentinfo">
  		<div class="sub-section beta-notice">
  		  <h1>This website is a beta</h1>
  		  <p><a href="http://getsatisfaction.com/govuk" id="gs-feedback-banner">Send us your feedback</a></p>
  		</div>
  		<div class="inner group">
  		  <div class="sub-section">
        	<p>&copy; Crown Copyright</p>
  		 </div>
  			<nav class="sub-section help">
  			  <h1>Help</h1>
  			  <ul>
  			   <li><a href="/help">About the pages and tools you’ll find</a></li>
  			   <li><a href="/help/searching">Searching</a></li>
  			   <li><a href="/help/contact">Contact us</a></li>
  			   <li><a href="/help/accessibility">Accessibility and help using the internet</a></li>
  			   <li><a href="/help/terms">Terms and conditions</a></li>
  			   <li><a href="/help/cookies">Cookies</a></li>
  			   <li><a href="/help/feedback">Feedback</a></li>
  			  </ul>
  			</nav>
  			<nav class="sub-section platform">
  			  <h1>Technical</h1>
  			  <ul>
  			   <li><a href="/platform">About our platform</a></li>
  			   <li><a href="/platform/api">API</a></li>
  			   <li><a href="/platform/licensing">Licensing</a></li>
  			   <li><a href="/platform/code">Code</a></li>
  			  </ul>
        </nav>
  			<div class="sub-section colophon">
        	<p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="licence">Open Government Licence</a></p>
        	<p>This website uses cookies. We have published <a href="/help/cookies">a list and further information</a></p>
        	<p>Built by the <a href="http://digital.cabinetoffice.gov.uk">Government Digital Service</a></p>
  			</div>
      </div>

      <div id='govuk-feedback'>
        <h2>Help improve gov.uk</h2>
        <form method="POST" action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dEtacjNNZzFyRkliYUtFRWp1eTl6Snc6MQ">
          <label class="ss-q-help" for="entry_0">Your feedback</label>
          <div id="feedback-options">
            <select name="entry.0.single" id="entry_0">
              <option value="There is a mistake in the information">There is a mistake in the information</option> 
              <option value="I have some feedback about the site">I have some feedback about the site</option> 
              <option value="Something went wrong or doesn&#39;t work">Something went wrong or doesn&#39;t work</option>
  	</select>
          </div>
          <div id='feedback-mechanism'>
            <label for="feedback-form">Your comment: </label><textarea name="entry.2.single" rows="8" cols="75" class="ss-q-long" id="entry_2"></textarea>
            <input type="hidden" name="entry.3.single" value="no javascript" class="ss-q-short" id="entry_3">
            <input type='submit' value='Send' /><p>We'll send this feedback to the team</p>
          </div>
        </form>
      </div>

    </footer><!--end footer-->

  	<div id="global-app-error" class="app-error hidden"></div>
    <script type="text/javascript" charset="utf-8">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};

      feedback_widget_options.display = "overlay";  
      feedback_widget_options.company = "govuk";
      feedback_widget_options.placement = "hidden";
      feedback_widget_options.color = "#222";
      feedback_widget_options.style = "idea";

      feedback_widget_options.limit = "3";
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
      $("#gs-feedback, #gs-feedback-banner").live("click", function(){
        feedback_widget.show();
        return false;
      })


    </script>
  </body>
  </html>