<div class="emergency-banner emergency-banner--<%= banner.campaign_class %>" role="banner" data-nosnippet>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="emergency-banner__heading"><%= banner.heading %></h2>
        <% if banner.short_description %>
          <p class="govuk-body emergency-banner__description"><%= banner.short_description %></p>
        <% end %>
        <% if banner.link %>
          <a href="<%= banner.link %>" class="govuk-link emergency-banner__link"><%= banner.link_text %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
