<div class="govuk-emergency-banner <%= banner.campaign_class %>" role="banner" data-nosnippet>
  <div>
    <h2><%= banner.heading %></h2>
    <% if banner.short_description %>
      <p><%= banner.short_description %></p>
    <% end %>
    <% if banner.link %>
      <a href="<%= banner.link %>"><%= banner.link_text %></a>
    <% end %>
  </div>
</div>
