<%
  show_global_bar ||= true # Toggles the appearance of the global bar
  title = "Coronavirus (COVID-19): what you need to do"
  title_href = "/coronavirus"
  link_text = false
  link_href = false

  # Toggles banner being permanently visible
  # If true, banner is always_visible & does not disappear automatically after 3 pageviews
  # Regardless of value, banner is always manually dismissable by users
  always_visible = true

  global_bar_classes = %w(global-bar dont-print)

  title_classes = %w(global-bar-title)
  title_classes << "js-call-to-action" if title_href
  title_classes << "govuk-link" if title_href

  dismiss_classes = %w(global-bar__dismiss dismiss)
  dismiss_classes << "govuk-link"

-%>

<% if show_global_bar %>
  <% content_for :body_end do %>
    <%= javascript_include_tag 'global-bar-init', integrity: false %>
    <script>
      if (GOVUK.globalBarInit) {
        window.GOVUK.globalBarInit.init()
      }
    </script>
  <% end %>
  <!--[if gt IE 7]><!-->
  <div id="global-bar" class="<%= global_bar_classes.join(' ') %>" data-module="global-bar" <%= "data-global-bar-permanent=true" if always_visible %>>
    <div class="global-bar-message-container">
      <div class="global-bar-message">
        <% if title %>
          <% if title_href %>
            <a class="<%= title_classes.join(' ') %>" href="<%= title_href %>"><%= title %></a>
          <% else %>
            <span class="<%= title_classes.join(' ') %>"><%= title %></span>
          <% end %>
        <% end %>

        <% if link_text %>
          <p>
          <% if link_href %>
            <%= link_to(
              link_text,
              link_href,
              rel: "external noreferrer",
              class: "govuk-link js-call-to-action"
            ) %>
          <% else %>
            <%= link_text %>
          <% end %>
          </p>
        <% end %>
      </div>
      <span class="global-bar-dismiss-wrapper global-bar-dismiss-wrapper--show">
        <a href="#hide-message"
          class="<%= dismiss_classes.join(' ') %>"
          role="button"
          aria-controls="global-bar">Hide</a>
      </span>
      <div class="global-bar-additional global-bar-additional--show govuk-grid-row">
        <div class="govuk-grid-column-two-thirds global-bar-additional__text">
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <div class="global-bar-additional__text-govspeak">
            <h2 class="global-bar__heading">Stay at home</h2>
            <ul class="global-bar__list">
              <li>Only go outside for food, health reasons or work (where this absolutely cannot be done from home)</li>
              <li>Stay 2 metres (6ft) away from other people</li>
              <li>Wash your hands as soon as you get home</li>
            </ul>
            <p>You can spread the virus even if you don’t have symptoms.</p>
          </div>
        <% end %>
        </div>
        <div class="govuk-grid-column-one-third global-bar-additional__image">
          <img class="global-bar-image" src="<%= asset_path 'covid.png' %>" alt="Stay at home. Protect the NHS. Save lives.">
        </div>
      </div>
    </div>
  </div>
  <!--<![endif]-->
<% end %>
