<%
  show_global_bar ||= true # Toggles the appearance of the global bar
  title = "Get information on the government’s response to coronavirus (COVID-19)"
  title_href = "/government/topical-events/coronavirus-covid-19-uk-government-response"
  link_text = false
  link_href = false

  # Toggles banner being permanently visible
  # If true, banner is always_visible & does not disappear automatically after 3 pageviews
  # Regardless of value, banner is always manually dismissable by users
  always_visible = false
-%>

<% if show_global_bar %>
  <% content_for :head do %>
    <%= javascript_include_tag 'global-bar-init', integrity: false %>
    <script>
      if (GOVUK.globalBarInit) {
        window.GOVUK.globalBarInit.init()
      }
    </script>
  <% end %>
  <!--[if gt IE 7]><!-->
  <div id="global-bar" class="global-bar dont-print" data-module="global-bar" <%= "data-global-bar-permanent=true" if always_visible %>>
    <div class="global-bar-message-container">
    <p class="global-bar-message">
      <% if title %>
        <% if title_href %>
          <a class="global-bar-title govuk-link js-call-to-action" href="<%= title_href %>"><%= title %></a>
        <% else %>
          <span class="global-bar-title"><%= title %></span>
        <% end %>
      <% end %>

      <% if link_text %>
        <% if link_href %>
          <%= link_to(
            link_text,
            link_href,
            rel: "external noreferrer",
            class: "govuk-link js-call-to-action"
          ) %>
        <% else %>
          <span><%= link_text %></span>
        <% end %>
      <% end %>
    </p>
    <a href="#hide-message"
       class="govuk-link dismiss"
       role="button"
       aria-controls="global-bar">Hide&nbsp;message</a>
    </div>
  </div>
  <!--<![endif]-->
<% end %>
