<%
  navigation_links = [
    { 
      label: "Topic", href: "/topic",
      description: "Find help, guidance and services",
      link_sections: [
        [
          { label: "Benefits", href: "/topic" },
          { label: "Births, death, marriages and care", href: "/topic" },
          { label: "Brexit", href: "/topic" },
          { label: "Business and self-employed", href: "/topic" },
          { label: "Childcare and parenting", href: "/topic" },
          { label: "Citizenship and living in the UK", href: "/topic" },
          { label: "Coronavirus", href: "/topic" },
          { label: "Crime, justice and the law", href: "/topic" },
          { label: "Disabled people", href: "/topic" },
        ],
        [
          { label: "Driving and transport", href: "/topic" },
          { label: "Education and learning", href: "/topic" },
          { label: "Employing people", href: "/topic" },
          { label: "Environment and countryside", href: "/topic" },
          { label: "Housing and local services", href: "/topic" },
          { label: "Money and tax", href: "/topic" },
          { label: "Passports, travel and living abroad", href: "/topic" },
          { label: "Visas and immigration", href: "/topic" },
          { label: "Working, jobs and pensions", href: "/topic" },
        ]
      ]
    },
    { label: "Departments", href: "/government/organisations" },
    {
      label: "Government activities", href: "/search/news-and-communications",
      description: "Find out what the government is doing and how to get involved",
      link_sections: [
        [
          { label: "News", href: "/topic", description: "News stories, speeches, letters and notices" },
          { label: "Guidance and regulation", href: "/topic", description: "Detailed guidance, rules and regulations" },
          { label: "Research and statistics", href: "/topic", description: "Reports, analysis and official statistics" },
        ],
        [
          { label: "Policy papers and consultation", href: "/topic", description: "Consultations and strategy" },
          { label: "Transparency", href: "/topic", description: "Government data, freedom of information releases and corporate reports" },
        ],
      ],
      footer_links: [
        { label: "How government works", href: "/topic" },
        { label: "Get involved", href: "/topic" },
      ]
    },
  ]
%>

<header role="banner" id="global-header" class="<%= yield(:header_class) %>" data-module="super-header">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="<%= content_for?(:homepage_url) ? yield(:homepage_url) : "https://www.gov.uk/" %>"
            title="<%= content_for?(:logo_link_title) ? yield(:logo_link_title) : "Go to the GOV.UK homepage" %>"
            class="content govuk-header__link govuk-header__link--homepage"
            id="logo"
            data-module="gem-track-click"
            data-track-category="homeLinkClicked"
            data-track-action="homeHeader">
          <span class="govuk-header__logotype">
            <%= render "components/header/govuk-logo" %>
            <span class="govuk-header__logotype-text">
              <%= content_for?(:global_header_text) ? yield(:global_header_text) : "GOV.UK" %>
            </span>
          </span>
        </a>
      </div>
      <%= render "components/header/navigation", {
        navigation_links: navigation_links
      } %>
    </div>
  </div>
  <%= render "components/header/menu-mobile", {
      navigation_links: navigation_links
    } %>
</header>
