<nav class="govuk-header__super-navigation">
  <ul class="govuk-header__super-navigation-items">
    <% navigation_links.each_with_index do | link, index | %>
      <li class="govuk-header__super-navigation-item govuk-header__super-navigation-item--hide-on-mobile">
        <a class="govuk-header__super-navigation-link js-govuk-header__super-navigation-dropdown-toggle" 
           href="<%= link[:href] %>" data-dropdown-target="#govuk-header-dropdown-<%= index %>">
          <%= link[:label] %>
          <% if link[:link_sections] %>
            <%= image_tag "down-arrow.svg" %>
          <% end %>
        </a>
      </li>
    <% end %>
    <li class="govuk-header__super-navigation-item govuk-header__super-navigation-item--hide-from-tablet">
      <%= render "components/header/menu-toggle" %>
    </li>
    <li class="govuk-header__super-navigation-item">
      <%= render "components/header/search" %>
    </li>
  </ul>
</nav>
