<nav class="govuk-header__super-navigation">
  <ul class="govuk-header__super-navigation-items">
    <% navigation_links.each_with_index do | link, index | %>
      <%
        classes = "govuk-header__super-navigation-link"
        classes << " js-govuk-header__super-navigation-dropdown-toggle" if link[:link_sections].present?
      %>
      <li class="govuk-header__super-navigation-item govuk-header__super-navigation-item--hide-on-mobile">
        <a class="<%= classes %>" href="<%= link[:href] %>" data-dropdown-target="#govuk-header-dropdown-<%= index %>">
          <%= link[:label] %>
          <% if link[:link_sections].present? %>
            <svg class="govuk-header__super-navigation-item-icon" width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.2098 1.70982L6.23145 7.26509L1.25305 1.70982" stroke-width="2"/>
            </svg>
          <% end %>
        </a>
      </li>
    <% end %>
    <li class="govuk-header__super-navigation-item govuk-header__super-navigation-item--hide-from-tablet">
      <%= render "components/header/menu-toggle" %>
    </li>
    <li class="govuk-header__super-navigation-item">
      <%= render "components/header/search" %>
    </li>
  </ul>
</nav>
