<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en" class="error error-404"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="error error-404"><!--<![endif]-->
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Page not found (404) | GOV.UK</title>
  <%= stylesheet_link_tag "application" %>

  <!-- alternatives -->
  <%= stylesheet_link_tag "wordsdifficult", :rel => "alternate stylesheet", :title => "I find words difficult", :class => "wordsdifficult"%>

  <%= javascript_include_tag 'libs/jquery/jquery-1.6.2.min.js' %>
  <%= javascript_include_tag 'application', :defer => 'defer' %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag 'ie.js' %>
  <![endif]-->

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <script id="ga-params" type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26179049-1']);
  _gaq.push(['_setDomainName', 'auto']);
  _gaq.push(['_setAllowLinker', true]);
  </script>

  <script type="text/javascript">
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script> 
</head>
<body class="citizen error">
  <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <a href="#content" class="visuallyhidden">Skip to main content</a>
  
  <header role="banner" class="group" id="global-header">
    <div class="header-global group">
      <h1><a href="/homepage" title="return to the gov.uk homepage">gov.uk</a></h1>
      <nav role="navigation">
        <ul>
          <li><a href="/settings" class="customisation-settings">Settings</a></li>
          <li><a href="/help">Help</a></li>
          <li id="gs-feedback"><a href="/feedback">Feedback</a></li>
        </ul>
      </nav>

      <div class="search-help">
        <form id="search" class="site-search" action="<%= @prefix %>/search" method="get" role="search">
          <legend class="visuallyhidden">Site search for www.gov.uk</legend>
            <label for="site-search-text" class="visuallyhidden">
              <span>Search</span>
            </label>
            <input type="search" name="q" id="site-search-text" title="Search" placeholder="type your search here" />
            <input type="submit" value="Search" />
          </form>
        </div>
      </div>
    </div>
  </header><!--end header-->

  <div id="wrapper" class="group">

    <div class="content" role="main">
      <section class="group" role="main">
        <div id="homepage-search" class="location-not-set">
          <header>
            <h1>Page not found</h1>
          </header>
          
          <p>The page you are looking for does not exist.</p>

          <p>This will happen from time to time, due to this being an incomplete trial (‘beta’) site. You can help us improve GOV.UK by <a href="/feedback" id="gs-feedback-banner">telling us what you were doing</a> or looking for when this happened.</p>
          
          <form id="search2" class="site-search" action="<%= @prefix %>/search" method="get" role="search">
            <fieldset>
              <legend class="visuallyhidden">Search the beta.gov.uk site</legend>
              <p>Try searching
                <label for="main_autocomplete2" class="visuallyhidden">Search</label>
                <input type="text" id="main_autocomplete2" name="q" value="<%=h @query %>">
                <input type="submit" value="Search" class="button">
              </p>
            </fieldset>
          </form>

          <p>&copy; Crown Copyright</p>
          
        </div>
        
        <div class="sections group">
        <div class="popular section">
          <h2>Popular tools and topics</h2>
          <ul>
            <li><a href="/vat-rates">VAT rates</a></li>
            <li><a href="/bank-holidays">UK bank holidays</a></li>
            <li><a href="/student-finance-calculator">Student Finance &ndash; how much you can get for 2012/13</a></li>
            <li><a href="/driving-theory-test/overview">The driving theory test for cars and motorcycles</a></li>
            <li><a href="/stamp-duty-land-tax-rates">Stamp Duty Land Tax rates</a></li>
            <li><a href="/national-minimum-wage-rates">National Minimum Wage rates</a></li>
            <li><a href="/check-mot-status-vehicle">Check the MOT status of a vehicle</a></li>
            <li><a href="/pension-credit">Pension Credit</a></li>

          </ul>
        </div>
        <div class="browse section">
          <h2>Browse</h2>
          <ul>
            <li><a href="/family">Family</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/money-and-tax">Money and tax</a></li>
            <li><a href="/driving">Driving</a></li>
            <li><a href="/life-in-the-uk">Life in the UK</a></li>
            <li><a href="/housing">Housing</a></li>
            <li><a href="/travel">Travel</a></li>
            <li><a href="/neighbourhoods">Neighbourhoods</a></li>
            <li><a href="/crime-and-justice">Crime and justice</a></li>
            <li><a href="/work">Work</a></li>
          </ul>
        </div>
        </div>

      </section>
    
    </div>
  </div><!--end wrapper-->

  <footer class="group" id="footer" role="contentinfo">
    <div class="sub-section beta-notice">
      <h1>This website is a beta</h1>
      <p><a href="/feedback" id="gs-feedback-banner">Send us your feedback</a></p>
    </div>
    <div class="inner group">
      <div class="sub-section">
        <p>&copy; Crown Copyright</p>
      </div>
      <nav class="sub-section help">
        <h1>Help</h1>
        <ul>
          <li><a href="/help">About the pages and tools you’ll find</a></li>
          <li><a href="/help/searching">Searching</a></li>
          <li><a href="/help/contact">Contact us</a></li>
          <li><a href="/help/accessibility">Accessibility and help using the internet</a></li>
          <li><a href="/help/terms">Terms and conditions</a></li>
          <li><a href="/help/cookies">Cookies</a></li>
          <li><a href="/feedback">Feedback</a></li>
        </ul>
      </nav>
      <nav class="sub-section platform">
        <h1>Technical</h1>
        <ul>
          <li><a href="/platform">About our platform</a></li>
          <li><a href="/platform/api">API</a></li>
          <li><a href="/platform/licensing">Licensing</a></li>
          <li><a href="/platform/code">Code</a></li>
        </ul>
      </nav>
      <div class="sub-section colophon">
        <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="licence">Open Government Licence</a></p>
        <p>This website uses cookies. We have published <a href="/help/cookies">a list and further information</a></p>
        <p>Built by the <a href="http://digital.cabinetoffice.gov.uk">Government Digital Service</a></p>
      </div>
    </div>

    <div id='govuk-feedback'>
      <h2>Help improve gov.uk</h2>
      <form method="POST" action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dEtacjNNZzFyRkliYUtFRWp1eTl6Snc6MQ">
        <label class="ss-q-help" for="entry_0">Your feedback</label>
        <div id="feedback-options">
          <select name="entry.0.single" id="entry_0">
            <option value="There is a mistake in the information">There is a mistake in the information</option> 
            <option value="I have some feedback about the site">I have some feedback about the site</option> 
            <option value="Something went wrong or doesn&#39;t work">Something went wrong or doesn&#39;t work</option>
          </select>
        </div>
        <div id='feedback-mechanism'>
          <label for="feedback-form">Your comment: </label><textarea name="entry.2.single" rows="8" cols="75" class="ss-q-long" id="entry_2"></textarea>
          <input type="hidden" name="entry.3.single" value="no javascript" class="ss-q-short" id="entry_3">
          <input type='submit' value='Send' /><p>We'll send this feedback to the team</p>
        </div>
      </form>
    </div>

  </footer><!--end footer-->

  <div id="global-app-error" class="app-error hidden"></div>

</body>
</html>


