<% hide_account_navigation ||= false %>

<% content_for :homepage_url, Plek.new.website_root %>
<% content_for :page_title, content_for?(:title) ? yield(:title) : "GOV.UK - The best place to find government services and information" %>
<% @emergency_banner = emergency_banner_notification %>

<% if ENV["DRAFT_ENVIRONMENT"].present? %>
  <% content_for :body_classes, "draft" %>
<% end %>

<% content_for :head do %>
  <%= render :partial => 'stylesheet', :locals => { :css_file => local_assigns[:css_file] || 'application' } %>
<% end %>

<% content_for :inside_header do %>
  <button class="search-toggle js-header-toggle" data-search-toggle-for="search">Show or hide search</button>
  <%
    # The /search page redirects to a finder if keywords are included. Be
    # careful about changing this, as the redirect adds some parameters to the
    # search query.
  %>
  <form id="search" class="site-search govuk-clearfix" action="/search" method="get" role="search" aria-label="Site-wide">
    <div class="content govuk-clearfix">
      <%= render "govuk_publishing_components/components/search", {
        button_text: "Search GOV.UK",
        id: "site-search-text",
        label_text: "Search on GOV.UK",
        margin_bottom: 0,
        no_border: true,
        data_attributes: {
          track_category: "headerClicked",
          track_action: "searchSubmitted",
          track_label: "none",
        },
      } %>
    </div>
  </form>
<% end %>

<% content_for :after_header do %>
  <% unless hide_account_navigation %>
    <%= render "govuk_publishing_components/components/layout_header", {
      remove_bottom_border: true,
      navigation_items: [
      {
        text: "Account",
        href: Plek.new.find("account-manager"),
        data: {
          module: "explicit-cross-domain-links",
          link_for: "accounts-signed-in",
        },
      },
      {
        text: "Sign out",
        href: Plek.new.website_root + "/sign-out",
        data: {
          module: "explicit-cross-domain-links",
          link_for: "accounts-signed-in",
        },
      },
      {
        text: "Sign in",
        href: Plek.new.website_root + "/sign-in",
        data: {
          module: "explicit-cross-domain-links",
          link_for: "accounts-signed-out",
        },
      }],
    } %>
  <% end %>
  <div id="user-satisfaction-survey-container"></div>
  <% if @emergency_banner %>
    <%= render "components/emergency_banner", {
      campaign_class: @emergency_banner.campaign_class,
      heading: @emergency_banner.heading,
      short_description: @emergency_banner.short_description,
      link: @emergency_banner.link,
      link_text: @emergency_banner.link_text,
    }
    %>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render "components/global_bar" %>

  <div id="wrapper" class="govuk-width-container group">
    <%= yield :wrapper_content %>
  </div>
<% end %>

<% content_for :footer_top do %>
  <% unless local_assigns[:hide_footer_links] %>
    <div class="govuk-grid-row footer-categories" data-module="gem-track-click">
      <div class="govuk-grid-column-two-thirds">
        <h2>Coronavirus (COVID-19)</h2>
        <ul>
          <li>
            <a data-track-category="footerClicked"
               data-track-action="coronavirusLinks"
               data-track-label="Coronavirus (COVID-19): guidance and support"
               href="/coronavirus"
               class="govuk-link">
               Coronavirus (COVID-19): guidance and support
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2>Brexit</h2>
        <ul>
          <li>
            <a data-track-category="footerClicked"
               data-track-action="transitionLinks"
               data-track-label="Check what you need to do"
               href="/brexit"
               class="govuk-link">
               Check what you need to do
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-row footer-categories" data-module="gem-track-click">
      <div class="govuk-grid-column-two-thirds">
        <h2>Services and information</h2>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <ul>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Benefits"
                  href="/browse/benefits">
                  Benefits
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Births, deaths, marriages and care"
                  href="/browse/births-deaths-marriages">
                  Births, deaths, marriages and care
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Business and self-employed"
                  href="/browse/business">
                  Business and self-employed
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label=""
                  href="/browse/childcare-parenting">
                  Childcare and parenting
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Citizenship and living in the UK"
                  href="/browse/citizenship">
                  Citizenship and living in the UK
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Crime, justice and the law"
                  href="/browse/justice">
                  Crime, justice and the law
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Disabled people"
                  href="/browse/disabilities">
                  Disabled people
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Driving and transport"
                  href="/browse/driving">
                  Driving and transport
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-half">
            <ul>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Education and learning"
                  href="/browse/education">
                  Education and learning
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Employing people"
                  href="/browse/employing-people">
                  Employing people
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Environment and countryside"
                  href="/browse/environment-countryside">
                  Environment and countryside
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Housing and local services"
                  href="/browse/housing-local-services">
                  Housing and local services
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Money and tax"
                  href="/browse/tax">
                  Money and tax
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Passports, travel and living abroad"
                  href="/browse/abroad">
                  Passports, travel and living abroad
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Visas and immigration"
                  href="/browse/visas-immigration">
                  Visas and immigration
                </a>
              </li>
              <li>
                <a class="govuk-link"
                  data-track-category="footerClicked"
                  data-track-action="footerLinks"
                  data-track-label="Working, jobs and pensions"
                  href="/browse/working">
                  Working, jobs and pensions
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2>Departments and policy</h2>

        <ul>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="How government works"
              href="/government/how-government-works">
              How government works
            </a>
          </li>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="Departments"
              href="/government/organisations">
              Departments
            </a>
          </li>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="Worldwide"
              href="/world">
              Worldwide
            </a>
          </li>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="Services"
              href="/search/services">
              Services
            </a>
          </li>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="Guidance and regulation"
              href="/search/guidance-and-regulation">
              Guidance and regulation
            </a>
          </li>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="News and communications"
              href="/search/news-and-communications">
              News and communications
            </a>
          </li>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="Research and statistics"
              href="/search/research-and-statistics">
              Research and statistics
            </a>
          </li>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="Policy papers and consultations"
              href="/search/policy-papers-and-consultations">
              Policy papers and consultations
            </a>
          </li>
          <li>
            <a class="govuk-link"
              data-track-category="footerClicked"
              data-track-action="footerLinks"
              data-track-label="Transparency and freedom of information releases"
              href="/search/transparency-and-freedom-of-information-releases">
              Transparency and freedom of information releases
            </a>
          </li>
        </ul>
      </div>
      <hr>
    </div>
  <% end %>
<% end %>
<% content_for :footer_support_links do %>
  <%= render :partial => "footer_support_links" %>
<% end %>
<% content_for :body_end do %>
  <%= render :partial => 'javascript', :locals => { :js_file => local_assigns[:js_file] || 'application' } %>
<% end %>
