<!DOCTYPE html>
<% html_classes = content_for?(:html_classes) ? "#{yield(:html_classes)}" : ''%>
<!--[if lt IE 9]><html class="lte-ie8 <%= html_classes %>" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="<%= html_classes %>"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title><%= content_for?(:title) ? yield(:title) : "GOV.UK - This is a trial ‘beta’ version of the UK government's official website" %></title>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag local_assigns[:css_file] || 'application' %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag local_assigns[:css_file] || 'application-ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag local_assigns[:css_file] || 'application-ie7' %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag local_assigns[:css_file] || 'application-ie8' %><![endif]-->

    <%= stylesheet_link_tag "print", :media => "print" %>

    <%= render partial: "fonts" %>

    <%= javascript_include_tag 'libs/jquery/jquery-1.7.2.js' %>
    <%= javascript_include_tag 'application', :defer => 'defer' %>

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'ie.js' %>
    <![endif]-->

    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path "apple-touch-icon-144x144.png" %>">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path "apple-touch-icon-114x114.png" %>">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path "apple-touch-icon-72x72.png" %>">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path "apple-touch-icon-57x57.png" %>">

    <%= render partial: "google_analytics" %>

  </head>

  <body<%= content_for?(:body_classes) ? " class=\"#{yield(:body_classes)}\"".html_safe : '' %>>
      <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a href="#<%= local_assigns[:skip_id] || "content" %>" class="visuallyhidden">Skip to main content</a>

    <header role="banner" class="group" id="global-header">
      <div class="header-wrapper group">
        <a href="/" title="Go to the gov.uk homepage" id="logo"><img src="<%= asset_path 'gov.uk_logotype.png' %>" alt="GOV.UK Logo"></a>

        <a href="#footer" class="visuallyhidden">Skip to footer navigation</a>

        <a href="#search" class="button search-toggle">Search</a>

        <%- unless local_assigns[:no_search] -%>
        <form id="search" class="site-search" action="/search" method="get" role="search">
          <label for="site-search-text" class="visuallyhidden">Search</label>
          <input type="search" name="q" id="site-search-text" title="Search">
          <input class="button" type="submit" value="Search" />
        </form>
        <%- end -%>
      </div>
    </header>

    <!--end header-->
    
    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="/help/cookies">Find out more about cookies</a></p>
    </div>

    <% unless local_assigns[:hide_nav] %>
      <div id="global-breadcrumb" class="header-context">
        <nav role="navigation">
          <ol class="group">
            <li><a href="/">Home</a></li>
          </ol>
        </nav>
      </div>
    <% end %>

    <div id="wrapper" class="group">
      <%= yield :content %>
    </div>

    <footer class="group" id="footer" role="contentinfo">
      
      <div class="beta-notice">
        <p>This is a <a href="http://digital.cabinetoffice.gov.uk/2012/01/31/beta/">test website</a>, so may be inaccurate or misleading. The official websites remain <a href="http://www.direct.gov.uk">Directgov</a>, <a href="http://www.businesslink.gov.uk/">Business Link</a>, and the website of the <a href="http://www.cabinetoffice.gov.uk/content/list-government-departments-and-ministers">relevant government department or organisation</a></p>
      </div>

      <div class="footer-wrapper">
        <nav class="footer-categories">
          <h2>Explore GOV.UK</h2>

          <ul>
            <li><a href="#">Driving, transport, and travel</a></li>
            <li><a href="#">Businesses and self-employed</a></li>
            <li><a href="#">Education and learning</a></li>
            <li><a href="#">Housing and local services</a></li>
            <li><a href="#">Crime, justice and the law</a></li>
            <li><a href="#">Money and tax</a></li>
          </ul>

          <ul>
            <li><a href="#">Benefits</a></li>
            <li><a href="#">Employing people</a></li>
            <li><a href="#">Working, jobs and pensions</a></li>
            <li><a href="#">Citizenship and life in the UK</a></li>
            <li><a href="#">Births, deaths, marriages, parenting and care</a></li>
          </ul>

          <div class="copyright">
            <a href="#">&copy; Crown Copyright</a>
          </div>
        </nav>

        <div class="footer-meta">
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>

          <div class="colophon">Built by the <a href="#">Government Digital Service</a></div>
          <p>Where indicated, content is available under the <a href="#">Open Government Licence</a></p>

        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

  </body>
</html>
