<% content_for :head do %>
<%= render :partial => 'stylesheet', :locals => { :css_file => local_assigns[:css_file] || 'static' } %>
<% end %>
<% content_for :body_end do %>
  <%= render :partial => 'javascript', :locals => { :js_file => local_assigns[:js_file] || 'application' } %>
<% end %>

<% @emergency_banner = emergency_banner_notification %>

<% if ENV["DRAFT_ENVIRONMENT"].present? %>
  <% content_for :body_classes, "draft" %>
<% end %>


<% content_for :after_header do %>
  <div id="user-satisfaction-survey-container"></div>
  <% if @emergency_banner %>
    <%= render "notifications/emergency_banner", banner: @emergency_banner %>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render "notifications/global_bar" %>

  <div id="wrapper" class="govuk-width-container group">
    <%= yield :wrapper_content %>
  </div>
<% end %>

