<% content_for :homepage_url, Plek.new.website_root %>
<% content_for :page_title, content_for?(:title) ? yield(:title) : "GOV.UK - The best place to find government services and information" %>
<% @emergency_banner = emergency_banner_notification %>

<% if ENV["DRAFT_ENVIRONMENT"].present? %>
  <% content_for :body_classes, "draft" %>
<% end %>

<% content_for :head do %>
  <%= render :partial => 'gem_layout_stylesheet' %>
<% end %>

<% content_for :after_header do %>
  <div id="user-satisfaction-survey-container"></div>
  <% if @emergency_banner %>
    <%= render "notifications/emergency_banner", banner: @emergency_banner %>
  <% end %>

<% end %>

<% content_for :notifications do %>
  <%= render "notifications/global_bar" %>
<% end %>

<% content_for :content do %>

  <div id="wrapper" class="govuk-width-container group">
    <%= yield :wrapper_content %>
  </div>
<% end %>

<% content_for :body_end do %>
  <%= render :partial => 'javascript', :locals => { :js_file => local_assigns[:js_file] || 'application' } %>
<% end %>
