<% title = "Sorry, we're experiencing technical difficulties (#{status_code} error)" unless local_assigns.include?(:title) %>
<% content_for :title, "#{title} - GOV.UK" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "error-page", media: "screen" %>
  <%= stylesheet_link_tag "error-page-print", media: "print" %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "error-page" %>
<% end %>

<% content_for :body_classes, "mainstream error" %>

<% content_for :wrapper_content do %>
<main id="content" role="main" class="group">

  <header class="page-header group">
    <div>
      <% if local_assigns.include?(:heading) %>
        <h1><%= heading %></h1>
      <% else %>
        <h1>Sorry, we're experiencing technical difficulties</h1>
      <% end %>
    </div>
  </header>
  <div class="article-container">
    <article role="article" class="group">
      <div class="inner">
        <% if local_assigns.include?(:intro) %>
          <%= raw intro %>
        <% else %>
          <p>Please try again in a few moments.</p>
        <% end %>
      </div>
    </article>
  </div>

<% if status_code.in?(400..499) %>
  <%= render "govuk_publishing_components/components/feedback" %>
<% end %>

<% if status_code %>
  <script type="text/javascript">
    window.httpStatusCode = '<%= status_code %>';
  </script>
<% end %>
</main>
<% end %>

<%= render partial: 'base' %>
