<% if @emergency_banner
    emergency_banner = render "govuk_publishing_components/components/emergency_banner", {
      campaign_class: @emergency_banner.campaign_class,
      heading: @emergency_banner.heading,
      link: @emergency_banner.link,
      link_text: @emergency_banner.link_text,
      short_description: @emergency_banner.short_description,
      ga4_tracking: true,
    }
  end
  user_satisfaction_survey = '<div id="user-satisfaction-survey-container"></div>'
  global_bar = render "components/global_bar"
%>

<%= render "govuk_publishing_components/components/layout_for_public", {
  emergency_banner: emergency_banner,
  full_width: false,
  global_bar: user_satisfaction_survey + global_bar,
  logo_link: Plek.new.website_root.present? ? Plek.new.website_root : "https://www.gov.uk/",
  show_explore_header: true,
  title: "#{heading} - GOV.UK",
} do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
        <%= heading %>
      </h1>
      <%= raw intro %>
      <pre class="govuk-!-margin-top-8">Status code: <%= status_code %></pre>
    </div>
  </div>
  <script>
    window.httpStatusCode = '<%= status_code %>'
  </script>
<% end %>
