<% content_for :title, "#{heading} - GOV.UK" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "error-page", media: "screen" %>
  <%= stylesheet_link_tag "error-page-print", media: "print" %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "error-page" %>
<% end %>

<% content_for :body_classes, "mainstream error" %>

<% content_for :wrapper_content do %>
  <main id="content" role="main" class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          title: heading,
          margin_top: 0,
        } %>
        <%= raw intro %>
        <p class="govuk-body">You can <a class="govuk-link" href="/coronavirus">find coronavirus information</a> on GOV.UK.</p>
        <br/>
        <pre>Status code: <%= status_code %></pre>
      </div>
    </div>
  </main>

  <%= render "govuk_publishing_components/components/feedback" %>

  <script type="text/javascript">
    window.httpStatusCode = '<%= status_code %>';
  </script>
<% end %>

<%= render partial: 'base', locals: { hide_account_navigation: true } %>
