<% content_for :title do %><%= local_assigns[:title] %> - GOV.UK<% end %>

<% content_for :html_classes do %>error error-40X<% end %>

<% content_for :body_classes do %>mainstream error<% end %>

<% content_for :content do %>
<section id="content" role="main" class="group">

  <header class="page-header group">
      <div>
        <h1><%= local_assigns[:heading] %></h1>
      </div>
  </header>
	<div class="article-container group ancillary">
	  	<article role="article" class="group">
	     <div class="inner">
         <%= raw local_assigns[:intro] %>

         <%= render partial: 'report_a_problem_form' %>
       </div>
     </article>
   </div>
</section>
<% end %>

<%= render partial: 'base' %>
