<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>GOV.UK - This is a trial ‘beta’ version of the UK government's official website</title>
  <%= stylesheet_link_tag "application" %>

  <!-- alternatives -->
  <%= stylesheet_link_tag "wordsdifficult", :rel => "alternate stylesheet", :title => "I find words difficult", :class => "wordsdifficult"%>
  <%= stylesheet_link_tag "core-print", :media => "print" %>

  <!-- fonts -->
  <script type="text/javascript">
  setTimeout(function(){var a=document,g,b={families:(g=
      ["Gill","Sassoon"]),urls:["https://fast.fonts.com/cssapi/172cb3ce-d500-423b-9495-ef65783e8f1d.css"]},
      c="<%= asset_path "libs/goog/webfont-debug.js" %>",d="script",
    e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
      ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h--;a.documentElement
      .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
  </script>

  <%= javascript_include_tag 'libs/jquery/jquery-1.7.2.js' %>
  <%= javascript_include_tag 'application', :defer => 'defer' %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag 'ie.js' %>
  <![endif]-->

  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon" />
  <script id="ga-params" type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26179049-1']);
  if(document.domain=='www.gov.uk') {
    _gaq.push(['_setDomainName', '.www.gov.uk']);
  } else {
    _gaq.push(['_setDomainName', document.domain]);
  }
  _gaq.push(['_setAllowLinker', true]);
  </script>

  <script type="text/javascript">
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</head>
<body>
  <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <a href="#content" class="visuallyhidden">Skip to main content</a>

  <header role="banner" class="group" id="global-header">
    <div class="header-global group">
      <h1><a href="/" title="Go to the gov.uk homepage">GOV.UK</a></h1>
      <nav role="navigation">
        <ul>
          <li><a href="/settings" class="customisation-settings">Settings</a></li>
          <li><a href="/help">Help</a></li>
          <li id="gs-feedback"><a href="/feedback">Feedback</a></li>
        </ul>
      </nav>

      <div class="search-help">
        <form id="search" class="site-search" action="<%%= @prefix %>/search" method="get" role="search">
          <label for="site-search-text" class="visuallyhidden">
            <span>Search</span>
          </label>
          <input type="search" name="q" id="site-search-text" />
          <input type="submit" value="Search" class="button" />
        </form>
      </div>
    </div>

  </header><!--end header-->

  <nav role="navigation" class="header-context">
    <div class="beta-notice">
      <div class="inner">
        <p><a href="http://digital.cabinetoffice.gov.uk/2012/02/01/govuk-beta-day1/">BETA</a></p>
      </div>
    </div>
    <ol class="group">
      <li><a href="/">Home</a></li>
    </ol>
  </nav>

  <div id="wrapper" class="group">
  </div><!--end wrapper-->

  <footer class="group" id="footer" role="contentinfo">
    <% if content_for?(:fat_footer) %>
      <%= yield :fat_footer %>
    <% end %>
    <div class="beta-notice">
      <p>This is a <a href="http://digital.cabinetoffice.gov.uk/2012/01/31/beta/">test website</a>, so may be inaccurate or misleading. The official website remains <a href="http://www.direct.gov.uk">Directgov</a> and the website of the <a href="http://www.cabinetoffice.gov.uk/content/list-government-departments-and-ministers">relevant government department or organisation</a></p>
    </div>
    <div class="inner group">
      <div class="colophon-and-help">
        <nav class="help">
          <ul>
            <li><a href="/help">Help</a></li>
            <li><a href="/help/cookies">Cookies</a></li>
          </ul>
        </nav>
        <div class="colophon">
          <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a></p>
          <p>Built by the <a href="http://digital.cabinetoffice.gov.uk">Government Digital Service</a></p>
        </div>
      </div>
      <div class="copyright">
        <p>&copy; Crown Copyright</p>
      </div>
    </div>

    <div id='govuk-feedback'>
      <h2>How could this page be better?</h2><p class='close'><a href='#'>Close</a></p>
      <form method="POST" action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dEtacjNNZzFyRkliYUtFRWp1eTl6Snc6MQ">
        <label class="ss-q-help" for="entry_0">Your feedback</label>
        <div id="feedback-options">
          <select name="entry.0.single" id="entry_0">
            <option value="I don&#39;t understand something on this page">I don't understand something on this page</option>
            <option value="I have some feedback about the site">The information could be clearer</option>
            <option value="Something went wrong or doesn&#39;t work">Something is wrong or doesn't work</option>
          </select>
        </div>
        <div id='feedback-mechanism'>
          <label for="feedback-form">Your comment: </label><textarea name="entry.2.single" class="ss-q-long" id="entry_2"></textarea>
          <input type="hidden" name="entry.3.single" value="no javascript" class="ss-q-short" id="entry_3" />
          <input type='submit' value='Send' class="button" />
        </div>
      </form>
      <p><small>This feedback is anonymous.  Please don't include your email address or other contact information.  If you would like to receive a response, please see our <a href="/feedback">other methods of feedback.</a></small></p>
    </div>

  </footer><!--end footer-->

  <div id="global-app-error" class="app-error hidden"></div>

</body>
</html>
