<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>GOV.UK Admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE6">
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "admin/jquery-ui-1.8.14" %>
    <%= stylesheet_link_tag "core-admin" %>

    <%= javascript_include_tag "libs/jquery/jquery-1.6.2.min.js" %>
    <%= javascript_include_tag "libs/jquery/jquery-ui-1.8.16.custom.min.js" %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26179049-3']);
      _gaq.push(['_setDomainName', 'auto']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
		<header class="gds-header" role="banner">
		  <div class="wrapper">

				<hgroup>
				  <h1>gov.uk admin</h1>
				  <h2>Placeholder</h2>
			  </hgroup>

				  <nav class="gds-menu" role="navigation">
    				<form>
  				    <label for="applications" title="Applications" class="visuallyhidden">Navigate to internal applications</label>
      				  <select name="applications">
      				    <option value="" disabled="disabled" title="Select application">Select application</option>
      				    <option value="<%= Plek.current.find('publisher') %>/admin" title="launch Publisher">Publisher</option>
                  <option value="<%= Plek.current.find('arbiter') %>/artefacts" title="launch Panopticon">Panopticon</option>
      				    <option value="<%= Plek.current.find('data') %>/admin" title="launch Imminence">Imminence</option>
      				    <option value="<%= Plek.current.find('needs') %>/" title="launch Need-o-tron">Need-o-tron</option>
      				    <option value="http://team.alpha.gov.uk/" title="launch Gov.uk team wiki">Team Wiki</option>
      			    </select>
            </form>
  			  </nav>
			</div>
		</header><!-- gds-header -->
		<div id="wrapper">

		</div>
  </body>
</html>
