<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>GOV.UK - This is a trial ‘beta’ version of the UK government's official website</title>
  <%= stylesheet_link_tag "application" %>

  <!-- alternatives -->
  <%= stylesheet_link_tag "dyslexic", :rel => "alternate stylesheet", :title => "I find words difficult" %>

  <%= javascript_include_tag 'libs/jquery/jquery-1.6.2.min.js' %>
  <%= javascript_include_tag 'application', :defer => 'defer' %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag 'ie.js' %>
  <![endif]-->

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <script id="ga-params" type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26179049-1']);
  _gaq.push(['_setDomainName', 'auto']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  </script>

  <script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <script type="text/javascript">
  setTimeout(function(){var a=document,g,b={families:(g=
  		["Gill","Sassoon"]),urls:["http://fast.fonts.com/cssapi/172cb3ce-d500-423b-9495-ef65783e8f1d.css"]},
  		c="https://ajax.googleapis.com/ajax/libs/webfont/1.0.24/webfont_debug.js",d="script",
  	e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
  		={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h--;a.documentElement
  		.className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
  </script>
</head>
<body class="home">
  <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <a href="#content" class="visuallyhidden">Skip to main content</a>

  <header role="banner" class="group" id="global-header">
    <div class="header-global group">
      <h1><a href="/homepage" title="return to the gov.uk homepage">gov.uk</a></h1>
      <nav role="navigation">
        <ul>
          <li><a href="/settings" class="customisation-settings">Settings</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </div>
  </header><!--end header-->

  <div id="wrapper" class="group">
  </div><!--end wrapper-->

  <footer class="group" id="footer">
		<div class="sub-section beta-notice">
		  <h1>This website is a beta</h1>
		  <p><a href="https://sites.google.com/a/digital.cabinet-office.gov.uk/citizen-beta/">Send us your feedback</a></p>
		</div>
		<div class="inner group" role="contentinfo">
		  <div class="sub-section copyright">
      	<p>&copy; Crown Copyright</p>
		  </div>
			<nav class="sub-section help">
			  <h1>Help</h1>
			  <ul>
			   <li><a href="/help">About the pages and tools you’ll find</a></li>
			   <li><a href="/help/searching">Searching</a></li>
			   <li><a href="/help/contact">Contact us</a></li>
			   <li><a href="/help/accessibility">Accessibility and help using the internet</a></li>
			   <li><a href="/help/terms">Terms and conditions</a></li>
			   <li><a href="/help/cookies">Cookies</a></li>
			   <li><a href="/help/feedback">Feedback</a></li>
			  </ul>
			</nav>
			<nav class="sub-section platform">
			  <h1>Technical</h1>
			  <ul>
			   <li><a href="/platform">About our platform</a></li>
			   <li><a href="/platform/api">API</a></li>
			   <li><a href="/platform/licensing">Licensing</a></li>
			   <li><a href="/platform/code">Code</a></li>
			  </ul>
      </nav>
			<div class="sub-section colophon">
      	<p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="licence">Open Government Licence</a></p>
      	<p>This website uses cookies. We have published <a href="/help/cookies">a list and further information</a></p>
      	<p>Built by the <a href="http://digital.cabinetoffice.gov.uk">Government Digital Service</a></p>
			</div>
    </div>
    
    <div id='govuk-feedback'>
      <h2>Help improve gov.uk</h2>
      <form>
        <label for="">Describe what kind of problem you're having</label>
        <div id="feedback-options">
          <select id='feedback-type'>
        	  <option selected>Select feedback:</option>
        	  <option id='policy'>I disagree with a Government policy relating to this subject</option>
        	  <option id='info'>Some information is missing about this subject</option>
        	  <option id='suggestion'>I would like to make a suggestion about this subject</option>
        	  <!--option id='local'>I need to contact someone about this subject</option-->
        	  <option id='error'>I received an error or the page isn't working properly</option>
        	  </select>
        </div>
        <div id='feedback-mechanism'>
          <label for="feedback-form">Your comment: </label><textarea id="feedback-form" /><input type='submit' value='Send' /><p>We'll send this feedback to the team</p>
        </div>
      </form>
    </div>
  </footer><!--end footer-->

  <div id="global-app-error" class="app-error hidden"></div>
</body>
</html>
