<%# Whilst they are both in use, this and the test copy in slimmer should be kept in sync %>

<%
  promo_target_formats = ['completed_transaction', 'transaction']
  promo_excluded_regex = /register-to-vote/

  has_promo_callout = (artefact and promo_target_formats.include?(artefact.format) and not promo_excluded_regex.match(URI.decode(artefact.slug)))
%>
<%# Whilst they are both in use, this and the test copy in slimmer should be kept in sync %>
<% if artefact and (artefact.related_artefacts.any? or (artefact.related_external_links and artefact.related_external_links.any?) or has_promo_callout) %>
  <!-- related -->
  <div class="related-container">

    <aside class="related" id="related">

      <% if has_promo_callout %>
        <div class="inner group related-callout">
          <h2 id="parent-promo">Register to vote</h2>
          <p>You need to register if you want to vote in elections and referendums.</p>
          <p>You can <a href="/register-to-vote?source=related">register online</a> in less than 5 minutes.</p>
        </div>
      <% end %>

      <% related_artefacts = artefact.related_artefacts || [] %>

      <%# Exclude '/register-to-vote', only if we're adding it manually (its easier to do by `content_id` than full `web_url`) %>
      <% related_artefacts = related_artefacts.reject { |artefact|
        artefact.content_id == "834a7921-260b-4061-9de1-edda3e998c68" and has_promo_callout
      } %>

      <% related_artefacts.group_by(&:group).each do |group, related_artefacts| %>
        <%
          section = case group
                    when 'subsection' then artefact.primary_section
                    when 'section' then artefact.primary_root_section
                    when 'other' then { "title" => "Elsewhere on GOV.UK" }
                    end
          section = section['parent'] if artefact.format == "travel-advice" and group == "subsection"

        %>
        <div class="inner group related-<%= group %>">
          <% if section %>
          <h2 id="parent-<%= group %>"><%= h section["title"] %></h2>
          <% end %>

          <nav role="navigation" aria-labelledby="parent-<%= group %>">
            <ul>
              <% related_artefacts.each do |item| %>
                <li>
                  <a href="<%= h item.web_url %>"><%= h item.title %></a>
                </li>
              <% end %>
              <% if section and section["content_with_tag"] and section["content_with_tag"]["web_url"].present? %>
                <li class="related-topic"><a href="<%= h section["content_with_tag"]["web_url"] %>"
                  >More <span class="visuallyhidden">in <%= h section["title"] %></span></a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      <% end %>

      <% if artefact.related_external_links and artefact.related_external_links.any? %>
        <div class="inner group">
          <h2 id="related-external-links">Elsewhere on the web</h2>

          <nav role="navigation" aria-labelledby="related-external-links">
            <ul>
              <% artefact.related_external_links.each do |link| %>
                <li>
                  <a href="<%= h link["url"] %>" rel="external"><%= h link["title"] %></a>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      <% end %>

      <div class="inner group">
        <a class="return-to-top" href="#content">Return to top &uarr;</a>
      </div>
    </aside>

  </div>
<!-- end related -->
<% end %>
