<%= yield :top_of_page %>

    <%= yield :head %>


  <body<%= content_for?(:body_classes) ? raw(" class=\"#{yield(:body_classes)}\"") : '' %>>

    <%= yield :body_start %>


    <%= render "govuk_publishing_components/components/cookie_banner" %>


    <%= yield :proposition_header %>

    <%= yield :after_header %>

    <div id="global-header-bar"></div>

<%= render "govuk_publishing_components/components/layout_for_public", {
  title: content_for?(:page_title) ? yield(:page_title) : "GOV.UK - The best place to find government services and information",
  before_content: content_for?(:before_content) ? sanitize(yield(:before_content)) : "",
  remove_bottom_border: true,
} do %>
  <%= content_for?(:content) ? yield(:content) : yield %>
<% end %>


    <div id="global-app-error" class="app-error hidden"></div>
    <%= yield :body_end %>
    <%# if no GOVUK-namespaced module has loaded we can assume JS has failed and remove the class %>
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
