<%= yield :top_of_page %>
<!DOCTYPE html>

  <head>
    <meta charset="utf-8">

  </head>

  <body<%= content_for?(:body_classes) ? raw(" class=\"#{yield(:body_classes)}\"") : '' %>>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <%= yield :body_start %>


    <%= render "govuk_publishing_components/components/cookie_banner" %>


<%= yield(:header_class) %>
<%= content_for?(:global_header_text) ? yield(:global_header_text) : "GOV.UK" %>
<%= yield :inside_header %>
<%= yield :proposition_header %>

<%= render "govuk_publishing_components/components/layout_for_public", {
  title: content_for?(:page_title) ? yield(:page_title) : "GOV.UK - The best place to find government services and information"
} do %>

<%= yield :after_header %>
I am static hear me roar
    <div id="global-header-bar"></div>
<%= content_for?(:content) ? yield(:content) : yield %>

<% end %>





    <div id="global-app-error" class="app-error hidden"></div>

    aaa<%= yield :body_end %>aaa
